* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  margin-inline: auto;
  max-width: 600px;
  padding: 36px;
}

.header {
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  display: flex;
  height: 65px;
  padding: 20px;
}

.header > img {
  height: 100%;
  margin-right: 6px;
}

.header > h1 {
  font-size: 1.25rem;
  margin-right: auto;
}

.form {
  display: grid;
  gap: 17px;
  grid-template: auto auto / 1fr 1fr;
  margin-bottom: 17px;
}

.form input {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  margin-top: 5px;
  text-indent: 5px;
  width: 100%;
}

.form button {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  grid-column: 1 / -1;
}

.form input,
.form button {
  font-family: "Karla", sans-serif;
  min-height: 40px;
}

.meme {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.meme > img {
  border-radius: 3px;
  height: auto;
  max-width: 100%;
}

.meme span {
  color: white;
  font-family: impact, sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-block: 15px;
  padding-inline: 5px;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  text-transform: uppercase;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
